---

- name: Setup UFW firewall
  block:
    - name: Install ufw package
      ansible.builtin.apt:
        name: ufw
        state: present

    - name: Enable ufw firewall
      community.general.ufw:
        state: enabled

# It may be desirable to set this to zero, so that application memory is retained as long as possible at the expense
# of the page cache. When there is still a memory shortage, the kernel can still use swapping.
- name: Tune system swappiness
  ansible.posix.sysctl:
    name: vm.swappiness
    value: '0'
    state: present

- name: Reduce space used by journald
  ansible.builtin.lineinfile:
    path: /etc/systemd/journald.conf
    regexp: '^#SystemMaxUse=$'
    line: SystemMaxUse=256M

- name: Perform a dist upgrade
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist
    force_apt_get: true

- name: Install archiving tools
  ansible.builtin.apt:
    name: "{{ base_archiving_tools }}"
    state: present
    force_apt_get: true

- name: Install productivity tools
  ansible.builtin.apt:
    name: "{{ base_productivity_tools }}"
    state: present
    force_apt_get: true

- name: Install system tools
  ansible.builtin.apt:
    name: "{{ base_system_tools }}"
    state: present
    force_apt_get: true

- name: Install developer tools
  ansible.builtin.apt:
    name: "{{ base_developer_tools }}"
    state: present
    force_apt_get: true

- name: Install developer tools pipx packages
  community.general.pipx:
    name: "{{ item }}"
  with_items: "{{ base_developer_tools_pipx }}"
  become: true
  become_user: "{{ local_username }}"

# Fix for bat syntax highlighting tool; Ubuntu packages it as batcat instead of just bat
- name: Create symlink for bat
  ansible.builtin.file:
    src: /usr/bin/batcat
    dest: /usr/bin/bat
    state: link
    force: false

- name: Create .ssh dir
  ansible.builtin.file:
    path: "~{{ local_username }}/.ssh"
    state: directory
    mode: '0700'
  become: true
  become_user: "{{ local_username }}"

- name: Install download tools
  ansible.builtin.apt:
    name: "{{ base_download_tools }}"
    state: present
    force_apt_get: true

- name: Install media packages
  ansible.builtin.apt:
    name: "{{ base_media_tools }}"
    state: present
    force_apt_get: true

...
